{% extends "base.html" %}

{% load i18n %}

{% block title %}MY-SLICES | share what you want.{% endblock %}

{% block head_extra %}
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.infinitescroll.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>
    <script src="{{ STATIC_URL }}js/application.js"></script>
{% endblock %}

{% block content %}
<div class="toolbar">
    <a href=".">{% trans "All" %}</a>
    <a href="?t=link">{% trans "Links" %}</a>
    <a href="?t=image">{% trans "Images" %}</a>
</div>
<div class="content">
{% for slice in slices %}
    {{ slice.render }}
{% endfor %}
</div>
{% endblock %}
